@using Packer.Models;


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


<ul>
  @foreach(Item item in Model)
  {
    <li>@item.Name <button type="submit" id="edit"><a href="/items/@item.Id/edit">Edit</a></button></li>
    <li>@(item.Packed == true ? "Packed!" : "Not packed!")</li>
    <li>@(item.Purchased == true ? "Purchased!" : "Not purchased!")</li>
    <br>
  }
</ul>
<a href="/items/new">Add new thing to pack</a>